<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>レシピ追加画面</h1>
        <p>飲み会メンバーもみんなにお勧めレシピを伝えよう</p>
        <%= render 'form', recipe_form: @recipe_form %>
        <%= link_to '戻る', "/zoom/list/#{session[:uuid]}" %>
      </div>
    </div>
  </div>
</div>