<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>レシピ追加画面</h1>
        <p>飲み会メンバーもみんなにお勧めレシピを伝えよう</p>
        <p id="notice"><%= notice %></p>
        <%= render 'form', recipe_form: @recipe_form, uuid: @uuid %>
        <%= link_to 'Zoom一覧', zooms_path %>
      </div>
    </div>
  </div>
</div>