<meta http-equiv="content-type" charset="utf-8">

<div class="container">
<h2>リモート居酒屋「みんなでクック」　プライバシーポリシー</h2>

<h3>第一条 基本方針</h3>
<p>
    リモート居酒屋「みんなでクック」(以下、「当方」)は、個人情報の重要性を認識し、 個人情報を保護することが社会的責務であると考え、個人情報に関する法令及び社内規程 等を遵守し、当方で取扱う個人情報の取得、利用、管理を適正に行います。
</p>

<h3>第二条 適用範囲</h3>
<p>
    本プライバシーポリシーは、当方が行う各種サービスにおいて、お客様の個人情報もしくはそれに準ずる情報を取り扱う際に、当方が遵守する方針を示したものです。
</p>

<h3>第三条 個人情報の取得と利用目的</h3>
<p>
    当方はお客様から以下の情報をご提供いただいております。<br>
    •「Zoom Video Communications, Inc.」のアカウント名、招待URL<br>

    飲み会をセッティングフォームに御記入いただくことで、当方が収集しております。<br>
    また、当方は、お客様からご提供いただく情報を以下の目的の範囲内において利用します。お客様の同意なく、情報の収集、目的外の利用を行うことはありません。<br>

    ＜以下は、利用目的例となる＞<br>
    ・当社サービスの提供・運営のため<br>
    ・固有のURLを共有した人に「Zoom Video Communications, Inc.」の招待メッセージを掲載するため
</p>
<h3>第四条 個人情報の管理</h3>
<p>
    当方は、お客様からご提供いただいた情報の管理について、以下を徹底します。<br>
    1). 情報の正確性の確保<br>
    お客様からご提供いただいた情報については、常に正確かつ最新の情報となるよう努めます。<br>
    2). 保存期間と廃棄<br>
    お客様からご提供いただいた情報については、保存期間を設定し保存期間終了後は廃棄します。また、保存期間内であっても不要となった場合にはすみやかに廃棄します。<br>
</p>

<h3>第五条 個人情報の開示・訂正・利用停止等</h3>
<p>開示、訂正、利用停止等のお申し出があった場合には、当方所定の方法に基づき対応致します。具体的な方法については個別にご案内しますので、下記お問い合わせ先までお問い合わせください。</p>

<h3>第七条 問い合わせ先</h3>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfUuEXAeZSH4jedQxJp6Lf65KfLTjtPmKfTs6inKViSw_ptCA/viewform?usp=sf_link">お問い合わせフォーム</a>

<br>
<p>令和2年 9 月 1 日 策定</p>
</div>